/* Univers LT Std */

@font-face {
font-family: 'UniversBlack';
font-style: normal;
font-weight: normal;
src: local('Univers LT Std 75 Black'), url('UniversLTStd-Black.woff') format('woff');
}

@font-face {
font-family: 'UniversBold';
font-style: normal;
font-weight: normal;
src: local('Univers LT Std 65 Bold'), url('UniversLTStd-Bold.woff') format('woff');
}

@font-face {
font-family: 'UniversCn';
font-style: normal;
font-weight: normal;
src: local('Univers LT Std 57 Condensed'), url('UniversLTStd-Cn.woff') format('woff');
}
