@import 'mixins';
@import 'variables';

.about__section {
	display: flex;
	flex-direction: column;
	background-image: url("../../assets/img_about.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;

	a {
		color: #fff;
	}

	h2 {
		line-height: 1;
		margin: auto;
	}

	.about__text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 5% 0;
		width: 100%;
		height: 100%;
		position: relative;
		background-color: $color-p-rgba;

		.text__container {
			max-width: 80%;
			margin: auto;

			p {
				font-size: 14px;
			}
		}
	}

	@include breakpoint(400px) {
		.about__text {
			.text__container {
				p {
					font-size: 17px;
				}
			}
		}
	}

	@include breakpoint(700px) {

		.about__text {
			padding: 10% 0;
			width: 50%;

			.text__container {
				max-width: 70%;
			}
		}
	}
}
