@import 'variables';

.contact__section {
	transform: translateX(0px);
	transition: transform 1s;
	height: 100vh;
	width: 100vw;
	background-color: $color-p;
	display: flex;

	.contact__details,
	.contact__map {
		flex-basis: 50%;
		align-self: center;
	}

	.contact__details {
		text-align: center;

		span {
			display: block;
		}
	}

	.contact__map {
		position: relative;
		overflow: hidden;
		height: 400px;

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 90%;
			height: 100%;
		}
	}
}
