@import 'variables';
$burgerWidth: 40px;
$burgerBarHeight: 1px;

.burger-menu {
  width: 42px;
  height: 25px;
  padding: 5px;
  cursor: pointer;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 200;
  .burger-container {
    position: relative;

    .burger-inner {
      position: absolute;
      width: $burgerWidth;
      height: 3px;
      left: 0px;
      top: 0px;
      transition: border-color .2s ease-in .2s;
      background-color: #FFF;

      &::before {
        position: absolute;
        content: '';
        top: 10px;
        width: $burgerWidth;
        height: 3px;
        transition: top .2s ease-in .3s, transform ease-in .2s;
        background-color: #FFF;
      }

      &::after {
        position: absolute;
        content: '';
        top: 20px;
        width: $burgerWidth;
        height: 3px;
        transition: top .2s ease-in .3s, transform ease-in .2s;
        background-color: #FFF;
      }
    }
  }

  &.active .burger-container .burger-inner {
    border-color: transparent;
    background-color: unset;
    transition: border-color ease-in .1s;
  }

  &.active .burger-container .burger-inner::before {
    top: -$burgerBarHeight;
    transform: rotate(-45deg);
    transition: top ease-out .2s, transform .2s ease-out .3s;
    background-color: $color-p;
  }

  &.active .burger-container .burger-inner::after {
    top: -$burgerBarHeight;
    transform: rotate(45deg);
    transition: top ease-out .2s, transform .2s ease-out .3s;
    background-color: $color-p;
  }
}
