@import 'variables';
@import 'mixins';

nav.nav--open {
  left: 0;
  transition: left 1s;
}

 nav {
  transition: left 1s;
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  z-index: 100;
  background-color: #fff;
  color: $color-p;
  font-size: 30px;

  ul {
    margin-top: 80px;
    margin-left: 30px;
  }

  li {
    margin: 10px 0px;
    list-style-type: none;
  }
}
