<section class="gallery__section" [class.menu--open]="menu.isMenuClosed" *ngFor="let exhibit of exhibits">
	<figure>
		<!-- <img src="{{ exhibit.fields.photo }}" alt=""> -->
	</figure>
	<div class="gallery__text">
		<h2 class="gallery__heading">Gallery</h2>
		<p class="gallery__title">{{ exhibit.fields.title }}</p>
		<h3 class="gallery__artist">{{ exhibit.fields.artist }}</h3>
		<p class="gallery_onview">On View</p>
		<p class="gallery__dates">{{ exhibit.fields.date }}</p>
		<!-- <p class="gallery__description" *ngIf="exhibit.fields.description.content[0].content[0].value">{{ exhibit.fields.description.content[0].content[0].value }}</p> -->
	</div>
</section>
