<section class="gallery__section" [class.menu--open]="menu.isMenuClosed">
	<div class="swiper-container gallery-swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide" *ngFor="let exhibit of exhibits; let i = index">
				<app-exhibit-images exhibitImagesId="{{ exhibit.fields.eventImages[0].sys.id }}" [eventPicturesStart]="eventPicturesStart" (sendEndEventPictures)="getEndEventImages($event)"></app-exhibit-images>
				<div id="exhibit-{{i}}"class="gallery__content" [ngClass]="{'show-event-pictures' : eventPicturesStart}">
					<div class="gallery__poster">
						<figure class="poster__image">
							<picture>
								<source srcset="{{ exhibit.fields.photo.fields.file.url }}" type="img/png">
								<img src="{{ exhibit.fields.photo.fields.file.url }}" alt="{{ exhibit.fields.photo.fields.description }}">
							</picture>
						</figure>
					</div>
					<div class="gallery__text">
						<h2 class="gallery__heading">Gallery</h2>
						<p class="gallery__description" *ngIf="exhibit.fields.description">{{ exhibit.fields.description }}</p>
					</div>
				</div>
			</div>
		</div>
		<div class="gallery__controls" [ngClass]="{'show-event-pictures' : eventPicturesStart}">
			<button class="event-pictures-button" (click)="showEventPictures($event)">See event pictures!</button>
			<div class="swiper-button-prev swiper-outer-prev" (click)="hideEventPictures()"></div>
			<div class="swiper-pagination gallery-swiper-pagination"></div>
			<div class="swiper-button-next swiper-outer-next" (click)="hideEventPictures()"></div>
		</div>
	</div>
</section>
