<section class="swiper-container main-swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide slide-home">
      <app-home></app-home>
      <p class="slide-name" *ngIf="isDesktop">Home</p>
      <div class="main-swiper-pagination swiper-pagination wow fadeInLeft" *ngIf="isDesktop"></div>
    </div>
    <div class="swiper-slide slide-gallery">
      <app-gallery></app-gallery>
      <p class="slide-name" *ngIf="isDesktop">Gallery</p>
      <div class="main-swiper-pagination swiper-pagination" *ngIf="isDesktop"></div>
    </div>
    <div class="swiper-slide slide-cowork">
      <app-co-work></app-co-work>
      <p class="slide-name" *ngIf="isDesktop">Co-Work</p>
      <div class="main-swiper-pagination swiper-pagination" *ngIf="isDesktop"></div>
    </div>
    <div class="swiper-slide slide-cafe">
      <app-cafe></app-cafe>
      <p class="slide-name" *ngIf="isDesktop">Cafe</p>
      <div class="main-swiper-pagination swiper-pagination" *ngIf="isDesktop"></div>
    </div>
    <div class="swiper-slide slide-about">
      <app-about></app-about>
      <p class="slide-name" *ngIf="isDesktop">About</p>
      <div class="main-swiper-pagination swiper-pagination" *ngIf="isDesktop"></div>
    </div>
    <div class="swiper-slide slide-contact">
      <app-contact></app-contact>
      <p class="slide-name" *ngIf="isDesktop">Contact</p>
      <div class="main-swiper-pagination swiper-pagination" *ngIf="isDesktop"></div>
    </div>
  </div>
</section>
<!-- <app-footer></app-footer> -->
