.swiper-wrapper {
  height: 100vh;
}

.main-swiper-pagination {
  top: 39%;
  display: flex;
  flex-direction: column;
}
/* Paagination Placement */
.slide-about,
.slide-cowork,
.slide-home {
  .main-swiper-pagination {
    left: 20px;
    right: auto;
  }

  .slide-name {
    transform: rotate(-90deg);
  }
}

.slide-cafe,
.slide-contact,
.slide-gallery {
  .main-swiper-pagination {
    right: 20px;
    left: auto;
  }

  .slide-name {
    transform: rotate(90deg);
  }
}

.slide-name {
  margin: 0;
  position: absolute;
  z-index: 1;
}

.slide-about,
.slide-cafe,
.slide-contact {
  .slide-name {
    top: 62%;
  }
}
/* Section labels palcement right */
.slide-contact,
.slide-gallery {
  .slide-name {
    right: 0;
  }
}

.slide-cafe {
  .slide-name {
    right: 10px;
  }
}
/* Section labels Placement left */
.slide-cowork {
  .slide-name {
    left: 0;
  }
}

.slide-about,
.slide-home {
  .slide-name {
    left: 7px;
  }
}

.slide-cowork,
.slide-gallery,
.slide-home {
  .slide-name {
    top: 32%;
  }
}
/* Bullet Styling*/
.swiper-pagination-bullet-active {
  background: #f5f5f5;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin-bottom: 10px;
}

.main-swiper-pagination {
  .swiper-pagination-bullet {
    position: relative;

    &:hover::after {
      opacity: 1;
      font-size: 15px;
    }

    &:after {
      display: block;
      font-size: 10px;
      position: absolute;
      z-index: 100;
      opacity: 0;
      top: 2px;
      transition: opacity 0.2s, font-size 0.2s;
    }
  }

  span:first-child {
    &:after {
      content: "Home";
    }
  }

  span:nth-child(2) {
    &:after {
      content: "Gallery";
    }
  }

  span:nth-child(3) {
    &:after {
      content: "Co-Work";
      white-space: nowrap;
    }
  }

  span:nth-child(4) {
    &:after {
      content: "Cafe";
    }
  }

  span:nth-child(5) {
    &:after {
      content: "About";
    }
  }

  span:nth-child(6) {
    &:after {
      content: "Contact";
    }
  }
}

.slide-about,
.slide-cowork,
.slide-home {
  .main-swiper-pagination {
    .swiper-pagination-bullet {
      &:after {
        left: 20px;
      }
    }
  }
}

.slide-cafe,
.slide-contact,
.slide-gallery {
  .main-swiper-pagination {
    .swiper-pagination-bullet {
      &:after {
        right: 20px;
      }
    }
  }
}
/* Section Animations | Co-Work*/
.slide-cowork {
  ul.co-work__list {
    li p {
      opacity: 0;
      transition: opacity 0.5s, transform 0.5s;
    }

    li:first-child p {
      transition-delay: 0.5s;
    }

    li:nth-child(2) p {
      transition-delay: 0.8s;
    }

    li:nth-child(3) p {
      transition-delay: 1.1s;
    }

    li:nth-child(4) p {
      transition-delay: 1.4s;
    }

    li:first-child p,
    li:nth-child(3) p {
      transform: translateX(-20px);
    }

    li:nth-child(2) p,
    li:nth-child(4) p {
      transform: translateX(20px);
    }
  }

  &.swiper-slide-active {
    ul.co-work__list {
      li p {
        opacity: 1;
        transform: translateX(0px);
      }
    }
  }
}
/* Section Animations | About | Cafe | Gallery */
.slide-about,
.slide-cafe {
  .cafe__specials--wrapper,
  .text__container p,
  .text__intro,
  h2,
  h3 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s, transform 0.7s;
  }

  h2 {
    transition-delay: 0.3s;
  }

  .text__container p,
  .text__intro {
    transition-delay: 0.7s;
  }

  .cafe__specials--wrapper,
  h3 {
    transition-delay: 1s;
  }

  &.swiper-slide-active {
    .cafe__specials--wrapper,
    .text__container p,
    .text__intro,
    h2,
    h3 {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
/* Section Animations | Gallery */
.slide-gallery {
  .gallery__section {
    #exhibit-0 {
      .gallery__text {
        .gallery__artist,
        .gallery__description,
        .gallery__heading,
        .gallery__subheading {
          opacity: 0;
          transform: translateY(20px);
          transition: opacity 0.7s, transform 0.7s;
        }

        .gallery__heading {
          transition-delay: .3s;
        }

        .gallery__subheading {
          transition-delay: 0.6s;
        }

        .gallery__artist {
          transition-delay: 0.9s;
        }

        .gallery__description {
          transition-delay: 1.2s;
        }
      }
    }
  }

  &.swiper-slide-active {
    .gallery__section {
      #exhibit-0 {
        .gallery__text {
          .gallery__artist,
          .gallery__description,
          .gallery__heading,
          .gallery__subheading {
            opacity: 1;
            transform: translateY(0px);
          }
        }
      }
    }
  }
}
