.swiper-wrapper {
  height: 100vh;
}

.main-swiper-pagination {
  top: 39%;
  display: flex;
  flex-direction: column;
}
/* Paagination Placement */
.slide-about,
.slide-cowork,
.slide-home {
  .main-swiper-pagination {
    left: 20px;
    right: auto;
  }

  .slide-name {
    transform: rotate(-90deg);
  }
}

.slide-cafe,
.slide-contact,
.slide-gallery {
  .main-swiper-pagination {
    right: 20px;
    left: auto;
  }

  .slide-name {
    transform: rotate(90deg);
  }
}

.slide-name {
  margin: 0;
  position: absolute;
}

.slide-about,
.slide-cafe,
.slide-contact {
  .slide-name {
    top: 62%;
  }
}
/* Section labels palcement right */
.slide-contact,
.slide-gallery {
  .slide-name {
    right: 0;
  }
}

.slide-cafe {
  .slide-name {
    right: 10px;
  }
}
/* Section labels Placement left */
.slide-cowork {
  .slide-name {
    left: 0;
  }
}

.slide-about,
.slide-home {
  .slide-name {
    left: 7px;
  }
}

.slide-cowork,
.slide-gallery,
.slide-home {
  .slide-name {
    top: 32%;
  }
}
/* Bullet Styling*/
.swiper-pagination-bullet-active {
  background: #f5f5f5;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin-bottom: 10px;
}

.main-swiper-pagination {
  .swiper-pagination-bullet {
    position: relative;

    &:hover::after {
      opacity: 1;
    }

    &:after {
      display: block;
      font-size: 10px;
      position: absolute;
      z-index: 100;
      opacity: 0;
      top: 2px;
      transition: opacity 0.2s;
    }
  }

  span:first-child {
    &:after {
      content: "Home";
    }
  }

  span:nth-child(2) {
    &:after {
      content: "Gallery";
    }
  }

  span:nth-child(3) {
    &:after {
      content: "Co-Work";
      white-space: nowrap;
    }
  }

  span:nth-child(4) {
    &:after {
      content: "Cafe";
    }
  }

  span:nth-child(5) {
    &:after {
      content: "About";
    }
  }

  span:nth-child(6) {
    &:after {
      content: "Contact";
    }
  }
}

.slide-about,
.slide-cowork,
.slide-home {
  .main-swiper-pagination {
    .swiper-pagination-bullet {
      &:after {
        left: 20px;
      }
    }
  }
}

.slide-cafe,
.slide-contact,
.slide-gallery {
  .main-swiper-pagination {
    .swiper-pagination-bullet {
      &:after {
        right: 20px;
      }
    }
  }
}
/* Arrow keys styles and annimation */
.arrow-keys.visible {
  opacity: 1;
}

.arrow-keys {
  opacity: 0;
  transition: opacity .5s;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0,0,0, .5);
  max-width: 160px;
  border-radius: 10px;
  padding: 10px;

  p {
    font-size: 12px;
    text-align: center;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ul {
    list-style: none;
    position: relative;
    width: 152px;
    height: 104px;
    left: 50%;
    top: 30%;
    margin-left: -76px;
  }

  li {
    position: absolute;
    top: 56px;
    display: block;
    text-decoration: none;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0,0,0, .8);
    border: 1px solid #eee;
    border-radius: 8px;
    animation-duration: 1.3s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
    animation-fill-mode: backwards;
    opacity: .2;
  }

  li:nth-child(1) {
    top: 8px;
    left: 56px;
    animation-name: animateKey;
  }

  li:nth-child(2) {
    left: 8px;
    animation-name: animateKey;
  }

  li:nth-child(3) {
    left: 56px;
    animation-name: animateKey;
  }

  li:nth-child(4) {
    left: 104px;
    animation-name: animateKey;
  }
  @keyframes animateKey {
    0% {
      opacity: .2;
    }

    50% {
      opacity: 0.8;
    }

    100% {
      opacity: .2;
    }
  }
}
