<app-menu></app-menu>
<app-nav></app-nav>
<section class="body-wrapper swiper-container main-swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide slide-home">
      <app-home></app-home>
      <div class="main-swiper-pagination swiper-pagination"></div>
    </div>
    <div class="swiper-slide slide-gallery">
      <app-gallery></app-gallery>
      <div class="main-swiper-pagination swiper-pagination"></div>
    </div>
    <div class="swiper-slide slide-cowork">
      <app-co-work></app-co-work>
      <div class="main-swiper-pagination swiper-pagination"></div>
    </div>
    <div class="swiper-slide slide-cafe">
      <app-cafe></app-cafe>
      <div class="main-swiper-pagination swiper-pagination"></div>
    </div>
    <div class="swiper-slide slide-about">
      <app-about></app-about>
      <div class="main-swiper-pagination swiper-pagination"></div>
    </div>
    <div class="swiper-slide slide-contact">
      <app-contact></app-contact>
      <div class="main-swiper-pagination swiper-pagination"></div>
    </div>
  </div>
</section>
<app-footer></app-footer>
