<section class="co-work__section" [class.menu--open]="menu.isMenuClosed">
	<div class="co-work__text">
		<h2>Co-Work</h2>
		<div class="co-work__info">
			<ul class="co-work__list">
				<li>
					<p>
						Surf the web with fastest internet in town.
					</p>
				</li>
				<li>
					<p>
						Work away in our cosy and quite co-working space
					</p>
				</li>
				<li>
					<p>
						Enjoy a "Malange" better than in Vienna itself.
					</p>
				</li>
				<li>
					<p>
						Admire the might might Moonpeak.
					</p>
				</li>
			</ul>
		</div>
	</div>
</section>
<!-- Icons made by <a href="https://www.flaticon.com/free-icon/toast_1814171" title="Nhor Phai">Nhor Phai</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> -->
