/*
* Fonts
*/
$font-satisfy: 'Satisfy', cursive;
$font-ubuntu: 'Ubuntu', sans-serif;
$font-raleway: 'Raleway', sans-serif;
/**
* Colors
*/
$color-p: #333345;
$color-p-rgba: rgba(51,51,69,.79);
/**
 * Text size
 */
$text-size-desktop: 18px;
$text-size-mobile: 16px;
/**
 * Breakpoints are set up to be mobile first.
 */
$tablet: 600px;
$desktop: 900px;
$wide: 1200px;
$wide-l: 1500px;
