/* You can add global styles to this file, and also import other style files */
@import "../src/assets/fonts/fonts.css";

html,
body {
	overflow-x: hidden;
	margin: auto;
	background-color: #f5f5f5;
	color: #fff;
	font-family: 'UniversCn';
}
h2,
h6 {
	text-align: center;
	margin: 0;
}

h6 {
	font-size: 25px;
}
h2 {
	font-size: 35px;
}

section {
	border-bottom: solid 5px #fff;
}

section.contact__section.menu--open,
section.gallery__section.menu--open,
section.co-work__section.menu--open,
section.cafe__section.menu--open,
section.about__section.menu--open,
section.home__section.menu--open {
	transform: translateX(300px);
	transition: transform 1s;
}
