@import 'variables';

.home__section {
	transform: translateX(0px);
	transition: transform 1s;
	position: relative;
	height: 100vh;
	background-color: $color-p;

	.home__wrapper {
		height: 100%;

		img {
			display: block;
			width:600px;
			max-width: 100%;
			height: auto;
			margin: auto;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}

	h1,
	h2 {
		color: #fff;
		font-family: 'UniversBold';
		visibility: hidden;
	}

	h1 {
		font-size: 60px;
		text-transform: uppercase;
		margin: 0;
		line-height: 0.6;
		letter-spacing: 3px;
		font-weight: 400;
	}

	h2 {
		font-size: 50px;
	}
}
