@import 'mixins';
@import 'variables';

.cafe__section {
	transform: translateX(0px);
	transition: transform 1s;
	height: 100vh;
	width: 100vw;
	background-image: url("../../assets/img_cafe.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	display: flex;
	justify-content: right;
	align-items: center;
	position: relative;

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		right: 0;
		bottom: 0;
		background-color: $color-p-rgba;
	}

	.cafe__text {
		max-width: 50%;
		width: 100%;
		z-index: 100;
	}
}
