@import 'mixins';
@import 'variables';

.cafe__section {
	transform: translateX(0px);
	transition: transform 0.5s;
	background-image: url("../../assets/img_cafe_mob.jp2");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	display: flex;
	justify-content: right;
	align-items: center;
	position: relative;
	@include desktop() {
		background-image: url("../../assets/img_cafe.jpeg");
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: $color-p-rgba;
		@include breakpoint(700px) {
			left: 50%;
		}
	}

	.cafe__text {
		width: 100%;
		z-index: 100;

		p {
			max-width: 160px;
			margin: auto;
		}
		@include breakpoint(700px) {
			max-width: 50%;
		}
	}
}
